html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,
dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,
var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,
output,ruby,section,summary,time,mark,audio,video {
  line-height: 1;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  -webkit-text-stroke: .1pt;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 0;
  white-space: nowrap;
  /*padding: 10px 23px;*/
  /*font-size: 18px;*/
  /*line-height: 1.42857;*/
  border-radius: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
 * Start: Theme style from here
 * Made with love by Aryandhani <http://aryandhani.com/>, <@aryandhani>
 */

 .jumbotron {
   padding: 30px 0;
   margin-bottom: 0;
   color: white;
   background-color: #2e2f41;
   background-image: url(../img/bg-2.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;
   position: relative;
 }
 .jumbotron h3,
 .jumbotron .h3 {
   color: white;
 }
 .jumbotron p {
   margin-bottom: 15px;
   font-size: 20px;
   font-weight: 200;
 }
 .jumbotron > hr {
   border-top-color: #d7dbde;
 }
 .container .jumbotron {
   border-radius: 6px;
 }
 .jumbotron .container {
   max-width: 970px;
 }
 @media screen and (min-width: 768px) {
   .jumbotron {
     padding-top: 100px;
     padding-bottom: 100px;
   }
   .container .jumbotron {
     padding-left: 60px;
     padding-right: 60px;
   }
   .jumbotron h1,
   .jumbotron .h1 {
     font-size: 44px;
   }
 }
 @media screen and (min-width: 768px) and (max-width: 320px) {
   .jumbotron h1,
   .jumbotron .h1 {
     font-size: 34px;
   }
 }
 .jumbotron .img-logo {
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   width: 400px;
   height: auto;
   margin-top: 50px;
   margin-bottom: 20px;
 }
 @media screen and (max-width: 800px) {
   .jumbotron .img-logo {
     margin-top: 0;
     min-width: 50%;
     max-width: 100%;
   }
   .jumbotron {
     background-image: none;
     background-color: rgb(62,151,206);
   }
 }
 .jumbotron .img-iPhone {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 320px;
   height: auto;
 }
 @media screen and (max-width: 800px) {
   .jumbotron .img-iPhone {
     margin-top: 50px;
   }
 }
 @media screen and (max-width: 480px) {
   .jumbotron .img-iPhone {
     width: 250px;
     height: auto;
   }
 }
 @media screen and (max-width: 320px) {
   .jumbotron .img-iPhone {
     width: 220px;
     height: auto;
   }
 }
 .jumbotron .btn-app-store {
   margin-top: 40px;
 }
 .jumbotron .btn-app-store .btn.btn-lg, .jumbotron .btn-app-store .btn-group-lg > .btn {
   padding: 0;
 }
 .jumbotron .btn-app-store .btn img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 180px;
   height: auto;
 }
.side-nav {
  position: fixed;
  top: 45%;
  right: 20px;
  z-index: 1030;
}
@media screen and (max-width: 320px) {
  .side-nav {
    display: none;
  }
}
.side-nav ul.nav-side-nav {
  text-align: center;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.side-nav ul.nav-side-nav > li {
  display: block;
  line-height: 1.42857;
  margin: 0;
  padding: 8px 0;
}
.side-nav ul.nav-side-nav > li > a {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e2e2e2;
  box-shadow: 0px 0px 10px 0px rgba(10,10,10,.5);
}
.side-nav ul.nav-side-nav > li > a:hover, .side-nav ul.nav-side-nav > li > a:focus {
  background: #afafaf;
  text-decoration: none;
}

.services-section {
  background: white;
  text-align: center;
  padding: 100px 0;
  box-shadow: 0px 0px 15px rgba(10,10,10,.7);
  position: relative;
}
.services-section .row.row-padding {
  padding-top: 40px;
}

.col-services {
  padding-bottom: 20px;
}
@media screen and (max-width: 800px) {
  .col-services {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 40px;
  }
  .col-services:last-child {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 640px) {
  .col-services {
    width: 90%;
  }
}
@media screen and (max-width: 320px) {
  .col-services {
    width: 100%;
  }
}

.img-services {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
.img-services.img-margin {
  margin-top: 14px;
  margin-bottom: 31px;
}

.features-section {
  text-align: left;
  padding: 100px 0;
  background:
  radial-gradient(#e1e1e1 15%, transparent 16%) 0 0,
  radial-gradient(#e1e1e1 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#f0f0f0;
  background-size:16px 16px;
}
.features-section .row.row-padding {
  padding-top: 40px;
}
@media screen and (max-width: 800px) {
  .features-section .row.media-screen-800 {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}
.features-section .img-iPhone {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: auto;
}
.features-section .img-iPhone.margin-top {
  top: -40px;
}
@media screen and (max-width: 800px) {
  .features-section .img-iPhone.margin-top {
    top: 0;
  }
}
.features-section .img-iPhone.margin-top-1.phone4 {
  width: 560px;
  top: 30px;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .features-section .img-iPhone.margin-top-1 {
    top: 0;
  }
  .features-section .img-iPhone.margin-top-1.phone4 {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 800px) {
  .features-section .img-iPhone.margin-screen-800 {
    margin-top: 40px;
  }
}
@media screen and (max-width: 480px) {
  .features-section .img-iPhone {
    width: 250px;
    height: auto;
  }
}
@media screen and (max-width: 320px) {
  .features-section .img-iPhone {
    width: 220px;
    height: auto;
  }
}
.features-section .btn-danger-border {
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #dc554f;
  color: #dc554f;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.features-section .btn-danger-border:hover, .features-section .btn-danger-border:focus {
  background: #dc554f;
  color: white;
}
.features-section .btn-app-store .btn.btn-lg, .features-section .btn-app-store .btn-group-lg > .btn {
  padding: 0;
}
.features-section .btn-app-store .btn img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: auto;
}

@media screen and (max-width: 800px) {
  .col-features {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  .col-features {
    width: 90%;
  }
}
.col-features.features-content {
  padding-top: 100px;
}
@media screen and (max-width: 800px) {
  .col-features.features-content {
    padding-top: 0;
  }
}

.subscribe-section {
  background: #2e2f41 url(../img/bg-3.png) 0 0 no-repeat;
  text-align: center;
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  /*  border-bottom: solid 10px #000003;*/
  box-shadow: 0px 0px 15px rgba(10,10,10,.7);
  position: relative;
}
.subscribe-section .row.row-padding {
  padding-top: 40px;
}
.subscribe-section h2,
.subscribe-section .h2 {
  color: white;
}
.subscribe-section input:-webkit-autofill, .subscribe-section textarea:-webkit-autofill, .subscribe-section select:-webkit-autofill {
  background: none!important;
  background-color: transparent!important;
  color: #fff!important;
  border: 0!important;
}

.subscribe-section .form-control,
.sign-in-up-section .form-control,
.subscribe-section .form-control:focus,
.sign-in-up-section .form-control:focus {
  display: block;
  margin: 0;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 0;
  color: #ffffff;
  text-align: center;
  border-bottom: solid 2px #c9c9c9;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
}

.subscribe-section ::-webkit-input-placeholder { color: #fff!important;opacity: .5; } /* WebKit */
.subscribe-section :-moz-placeholder { color: #fff!important;opacity: .5;  } /* Firefox 18- */
.subscribe-section ::-moz-placeholder { color: #fff!important;opacity: .5;  } /* Firefox 19+ */
.subscribe-section :-ms-input-placeholder { color: #fff!important;opacity: .5;  } /* IE 10+ */

.sign-in-up-section ::-webkit-input-placeholder { color: #fff!important;opacity: .5; } /* WebKit */
.sign-in-up-section :-moz-placeholder { color: #fff!important;opacity: .5;  } /* Firefox 18- */
.sign-in-up-section ::-moz-placeholder { color: #fff!important;opacity: .5;  } /* Firefox 19+ */
.sign-in-up-section :-ms-input-placeholder { color: #fff!important;opacity: .5;  } /* IE 10+ */

@media screen and (max-width: 320px) {
  .subscribe-section h2,
  .subscribe-section .h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 640px) {
  .col-subscribe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}
@media screen and (max-width: 320px) {
  .col-subscribe {
    width: 100%;
  }
}
.subscribe-form {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .subscribe-form.form-inline .form-control {
    width: 300px;
  }
}
@media screen and (max-width: 640px) {
  .subscribe-form .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.subscribe-description {
  padding-bottom: 20px;
}

.footer-section {
  background: rgb(62,151,206);
  text-align: left;
  padding: 60px 0;
}
.footer-section .row.row-padding {
  padding-top: 40px;
}
@media screen and (max-width: 800px) {
  .footer-section {
    text-align: center;
  }
}
.footer-section p {
  font-size: 15px;
  color: white;
}

.footer-section .logo{
  width: 60%;
}

@media screen and (max-width: 800px) {
  .col-footer.col-padding {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.col-footer .fa.fa-heart {
  color: #fd487d;
}

.social-media-links {
  text-align: center;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.social-media-links li {
  display: inline-block;
  line-height: 1.42857;
  margin: 0;
  padding: 0 3px;
}
.social-media-links a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  font-size: 23px;
  color: white;
  text-align: center;
  line-height: 1.82857;
}
.social-media-links a:hover, .social-media-links a:focus {
  background: transparent;
  color: white;
  text-decoration: none;
}
.social-media-links a.tw {
  background: #53c3ee;
}
.social-media-links a.tw:hover, .social-media-links a.tw:focus {
  background: #16a7df;
}
.social-media-links a.fb {
  background: #5975b1;
}
.social-media-links a.fb:hover, .social-media-links a.fb:focus {
  background: #3d5281;
}
.social-media-links a.pn {
  background: #d54e55;
}
.social-media-links a.pn:hover, .social-media-links a.pn:focus {
  background: #ad2930;
}

.addthis_default_style {
  text-align: left;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
@media screen and (max-width: 800px) {
  .addthis_default_style {
    text-align: center;
  }
}
.addthis_default_style li {
  display: inline-block;
  line-height: 1.42857;
  margin: 0;
  padding: 0;
}
.addthis_default_style li:first-child {
  margin-left: -2px;
}
.addthis_default_style a {
  display: block;
}
.addthis_default_style a.addthis_button_facebook_like {
  position: relative;
  top: -3px;
}
.addthis_default_style a.addthis_button_tweet {
  width: 80px !important;
}

.sign-in-up-section {
  padding: 100px 0;
}
.sign-in-up-section .container {
  max-width: 460px;
}
.sign-in-up-section .img-logo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: auto;
  margin-bottom: 40px;
}

.sign-in-up-content {
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
}
.sign-in-up-content .sign-in-up-form {
  padding-top: 10px;
}
.sign-in-up-content .sign-in-up-links {
  position: relative;
  margin-top: -30px;
}
.sign-in-up-content .sign-in-up-links .sep {
  margin: 0 4px;
}

/* style */
.sign-in-up {
  background: #2e2f41 url(../img/bg-1.png) 0 0 no-repeat fixed;
  background-size: cover;
  background-position: center;
}

.bg-cover{
/*  background-color: rgba(46,47,65,.5);
  background-color: rgba(62,151,206,.3);*/
  background-color: rgba(55,84,103,.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sign-in-up .bg-cover {
  position: fixed;
}

.bordered {
  background: transparent!important;
  background-color: transparent!important;
  border-width: 2px!important;
  border-style: solid!important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  font-weight: bold!important;
  border-radius: 0!important;
  margin-bottom: 10px;
}

.btn-white.bordered {
  border-color: #ffffff!important;
  color: #ffffff!important;
}
.btn-white.bordered:hover, .btn-white.bordered:focus {
  background: #ffffff!important;
  color: #3e97ce!important;
}

.btn-primary.bordered {
  border-color: #428bca!important;
  color: #428bca!important;
}
.btn-primary.bordered:hover, .btn-primary.bordered:focus {
  background: #428bca!important;
  color: white!important;
}

.btn-info.bordered {
  border-color: #5bc0de!important;
  color: #5bc0de!important;
}
.btn-info.bordered:hover, .btn-info.bordered:focus {
  background: #5bc0de!important;
  color: white!important;
}

.btn-success.bordered {
  border-color: #5cb85c!important;
  color: #5cb85c!important;
}
.btn-success.bordered:hover, .btn-success.bordered:focus {
  background: #5cb85c!important;
  color: white!important;
}

.btn-warning.bordered {
  border-color: #f0ad4e!important;
  color: #f0ad4e!important;
}
.btn-warning.bordered:hover, .btn-warning.bordered:focus {
  background: #f0ad4e!important;
  color: white!important;
}

.btn-danger.bordered {
  border-color: #d9534f!important;
  color: #d9534f!important;
}
.btn-danger.bordered:hover, .btn-danger.bordered:focus {
  background: #d9534f!important;
  color: white!important;
}

.csslider > ul {
  position: relative;
  width: 100%;
  height: 600px;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
.csslider > ul > li {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
